-- Add is_archived column to students table
ALTER TABLE students ADD COLUMN IF NOT EXISTS is_archived BOOLEAN DEFAULT false;

-- Add index for better query performance
CREATE INDEX IF NOT EXISTS idx_students_is_archived ON students(is_archived);
